.root{
    -fx-background-color: #F9F9F9;
}
.label{
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

#gridPaneRecargarBilletera .label{
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.text-field{
    -fx-background-color: #FF5A5F;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
}
#btnRecargarSaldo{
    -fx-background-color: #FF5A5F;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-radius: 30px;
}
#btnRecargarSaldo:hover{
    -fx-background-color: #3333;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
#btnVolverAInicio{
    -fx-background-color: #FF5A5F;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-radius: 10px;
}
#btnIrRecargar{
    -fx-background-color: #FF5A5F;
    -fx-text-fill: #fffffe;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-border-radius: 30px;
}
#btnIrRecargar:hover{
    -fx-background-color: #3333;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

